.flug{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.flugmynd{
  grid-column: 3/4;
  grid-row: 1/1;
  width:100%;
}
.flugtexti{
  grid-column:2/4;
  grid-row: 1/1;
  width:50%;
}
.vöruhus{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.vöruhustexti{
  grid-column:3/4;
  grid-row: 1/1;
  width:100%;
}
.vöruhusmynd{
  grid-column: 2/4;
  grid-row: 1/1;
  width:50%;
}
@media(max-width: 321px){
  *{
    margin:0%;
    padding:0%;
  }
  .tilbodsvika{
    width:19.5rem;
    font-size: 1.5rem;
  }
  .flug{
    width:20rem;
    display:flex;
    flex-direction: column;
    margin: 0rem;
    padding:0rem;
    align-items: center;
    line-height: 2.5rem;
  }
  .nyjast{
    width:20rem;
    display:flex;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
    background: fill;
  }
  .vöruhus{
    width:20rem;
    display:flex;
    flex-direction: column;
    margin:0rem;
    padding:0rem;
  }
  .vöruhustexti{
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin:0rem;
    padding:0rem;
    align-items: center;
  }
  .vöruhusmynd{
    align-items: center;
    width: 20rem;
  }
  .dæmi{
    width:20rem;
    display:flex;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
    background: fill;
  }
  footer{
    width:20rem;
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding:0rem;
    align-items:center;
  }
  .card{
    width: 20rem;
    display:flex;
    flex-direction: column;
    margin:0rem;
    padding:0rem;
    align-items:center;
    height: max-content;
  }
  img{
    width:17rem;
    height: max-content;
  }
  .taeknibudinheader{
    display:block;
    left: 2rem;
    font-size: 85%;
  }
  svg{
    display: block;
    left:0.1rem;
  }
  .listi{
    display:block;
    position:absolute;
    left:13rem;
    top:1.2rem;
    border-style: none;
    list-style: none;

  }
  .search{
    display: block;
    left:-12rem;
  }
  .flokkar{
    display: block;
    left:-10rem;
  }

}
