*{
  margin: 0;
  padding:0;
}
header{
  display: flex;
  margin: 16px;
  padding: 2px;
  flex-direction: row;
  list-style: none;
  object-fit: cover;
  justify-content: space-evenly;
  object-position: right;
}
.kaplar {
  position: relative;
}
.kaplar:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("https://images.unsplash.com/photo-1473831818960-c89731aabc3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

header input{
  min-width: 30%;
  background-image: url("https://pixsector.com/cache/e7836840/av6584c34aabb39f00a10.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}
header img{
  position: absolute;
}
.tilbodsvika{
  width:100%;
  height: 320px;
  font-size: xx-large;
  align-items: center;
  justify-content:space-evenly ;
  object-fit: cover;
  display:flex;
  flex-direction: column;
  position: relative;
}
.keyptu{
  font-size: x-large;
  font-weight: 400;
}
.flug{
  display:absolute;
  width:100%;
  margin:16px;
  padding:16px;
}
.frontcard1{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard2{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard3{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard4{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard5{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard6{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard7{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.frontcard8{
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.nyjast{
  display: flex;
  justify-content: space-evenly;
  background: rgb(255,255,255);
  background: linear-gradient(357deg, rgba(255,255,255,0) 25%, rgba(225,206,194,1) 25%, rgba(225,206,194,1) 75%, rgba(255,255,255,0) 75%);
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;

}
.vöruhus{
  display:absolute;
  width:100%;
  margin:16px;
  padding:16px;
}
.vöruhustexti{
  width:50%;
  float:left;
}
.vöruhusmynd{
  float:right;
  width:75%;
}
.dæmi{
  display: flex;
  justify-content: space-evenly;
  background: rgb(255,255,255);
  background: linear-gradient(357deg, rgba(255,255,255,0) 25%, rgba(225,206,194,1) 25%, rgba(225,206,194,1) 75%, rgba(255,255,255,0) 75%);
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;
}

footer{
  display:flex;
  flex-direction: row;
  height:260px;
  justify-content: space-evenly;
  background: #3C2A1E;
}
li{
  list-style:none;
}
ul{
  list-style: none;
  background: #FFFFFF;
}
.opnunartimi{
  color:#FEFEFE;
}
.hafdu{
  color:#FEFEFE;
}
.annad{
  color:#FEFEFE;
}
.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #3C2A1E;
  color: #FEFEFE;
}

.flokkar {
  display: flex;
  margin: 0.5rem;
}
.flokkar li{
  margin: 1ch;
  background: #E1CEC2;
  border-radius: 5px;
  padding: 0.3rem;
}
.efni{
  background: #E1CEC2;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1%;
}
.img-container {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
}
.card-content p {
  display: inline;
  margin-right: 0.7em;
  background: #E1CEC2;
  border-radius: 5px;
  padding: 0.3rem;
}
.card a {
  text-decoration: none;
  color: black;
}
.cardl1{
  display: flex;
  flex-direction: row;
}
.card2{
  display: flex;
  flex-direction: row;
}
.card3{
  display: flex;
  flex-direction: row;
}
header a{
  color: black;
  text-decoration: none;
}
.ad {
  display: flex;
  flex-direction: row;
}
.ad-img-container{
  display: flex;
  margin: 1rem;
}
.ad-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.ad-class {
  display: flex;
  flex-direction: row;
  margin-top: 1ch;
  background: #E1CEC2;
}
.kubbasett {
  margin-top: 1rem;
}
.stærð {
  margin-top: 1rem;
}
.stýringar {
  margin-top: 1rem;
}
.vorucard {
  display: flex;
}
.tengdar {
  display: flex;
  flex-direction: column;
  background: #E1CEC2;
}
.tengdar h2 {
  margin: 1rem;
}
.eiginleikar {
  margin: 1rem;
  padding-left: 30rem;
  padding-right: 30rem;
}
.haus {
  margin: 1rem;
}
.haus h1{
  margin-bottom: 1rem;
  margin-top: 1em;
}
.haus h2{margin-top: 1em;}
.uppl{
  margin: 1rem;
}
fieldset{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  border: none;
}
.efri1{
  display: flex;
  flex-direction: row;
}
.efri2{
  display: flex;
  flex-direction: row;
}
.nedri1{
  display: flex;
  flex-direction: row;
}
.nedri2{
  display: flex;
  flex-direction: row;
}
.uppl-content{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.kaup{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.kaup img{
  max-width: 25%;
}
.kaup-content{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.order{
  display: flex;
  flex-direction: row;
}