*{
  margin: 0;
  padding:0;
}
header{
  display: flex;
  margin: 16px;
  padding: 2px;
  flex-direction: row;
  list-style: none;
  object-fit: cover;
  justify-content: space-evenly;
  object-position: right;
}
.kaplar{
  background-image: url("https://images.unsplash.com/photo-1473831818960-c89731aabc3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  content: '';
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-repeat: no-repeat;
  background-size: 100%;
}
header input{
  min-width: 30%;
  background-image: url("https://pixsector.com/cache/e7836840/av6584c34aabb39f00a10.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}
header img{
  position: absolute;
}
.tilbodsvika{
  width:100%;
  height: 320px;
  font-size: xx-large;
  align-items: center;
  justify-content:space-evenly ;
  object-fit: cover;
  display:flex;
  flex-direction: column;
}
.keyptu{
  font-size: x-large;
  font-weight: 400;
}
.flug{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin:30px;
  padding: 16px;
}
.flugmynd{
  float:center;
}
.nyjast{
  display: flex;
  justify-content: space-evenly;
  background: #E1CEC2;
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;

}
.vöruhus{
  display:flex;
  width:25%;
  margin:30px;
  height:260px;
  line-height: 40px;
  flex-direction: column;
}
.dæmi{
  display: flex;
  justify-content: space-evenly;
  background: #E1CEC2;
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;
}
.frontcard1{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:330px;
  height:330px;
}
.frontcard2{
  display:flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard3{
  display:flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard4{
  display:flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard5{
  display:flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard6{
  display: flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard7{
  display: flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
.frontcard8{
  display: flex;
  flex-direction: column;
  width:330px;
  height:330px;
}
footer{
  display:flex;
  flex-direction: row;
  height:260px;
  justify-content: space-evenly;
  background: #3C2A1E;
}
li{
  list-style:none;
}
ul{
  list-style: none;
  background: #FFFFFF;
}
.opnunartimi{
  color:#FEFEFE;
}
.hafdu{
  color:#FEFEFE;
}
.annad{
  color:#FEFEFE;
}
.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #3C2A1E;
  color: #FEFEFE;
}

.flokkar {
  display: flex;
  margin: 0.5rem;
}
.flokkar li{
  margin: 1ch;
  background: #E1CEC2;
  border-radius: 5px;
  padding: 0.3rem;
}
.efni{
  background: #E1CEC2;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 21.5%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.img-container {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
}
.card-content p {
  display: inline;
  margin-right: 0.7em;
  background: #E1CEC2;

  border-radius: 5px;
  padding: 0.3rem;
}
.card a {
  text-decoration: none;
  color: black;
}
.cardl1{
  display: flex;
  flex-direction: row;
}
.card2{
  display: flex;
  flex-direction: row;
}
.card3{
  display: flex;
  flex-direction: row;
}
header a{
  color: black;
  text-decoration: none;
}
.ad {
  display: flex;
  flex-direction: row;
}
.ad-img-container{
  display: flex;
  margin: 1rem;
}
.ad-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.ad-class {
  display: flex;
  flex-direction: row;
  margin-top: 1ch;
  background: #E1CEC2;
}
.kubbasett {
  margin-top: 1rem;
}
.stærð {
  margin-top: 1rem;
}
.stýringar {
  margin-top: 1rem;
}
.vorucard {
  display: flex;
}
.tengdar {
  display: flex;
  flex-direction: column;
  background: #E1CEC2;
}
.tengdar h2 {
  margin: 1rem;
}
.eiginleikar {
  margin: 1rem;
  padding-left: 30rem;
  padding-right: 30rem;
}
.haus {
  margin: 1rem;
}
.haus h1{
  margin-bottom: 1rem;
  margin-top: 1em;
}
.haus h2{margin-top: 1em;}
