*{
  margin: 0;
  padding:0;
}
header{
  display: flex;
  margin: 16px;
  padding: 2px;
  flex-direction: row;
  list-style: none;
  object-fit: cover;
  justify-content: space-evenly;
}
.kaplar{
  background-image: url("https://images.unsplash.com/photo-1473831818960-c89731aabc3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  content: '';
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tilbodsvika{
  width:100%;
  height: 320px;
  font-size: xx-large;
  align-items: center;
  justify-content:space-evenly ;
  object-fit: cover;
  display:flex;
  flex-direction: column;
}

.keyptu{
  font-size: x-large;
  font-weight: 400;
}
.flug{
  display:block;
  width:30%;
  align-items: center;
  margin:30px;
  padding: 16px;
}
.nyjast{
  display: flex;
  justify-content: space-evenly;
  background: #E1CEC2;
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;

}
.vöruhus{
  display:flex;
  width:25%;
  margin:30px;
  height:260px;
  line-height: 40px;
  flex-direction: column;
}
.dæmi{
  display: flex;
  justify-content: space-evenly;
  background: #E1CEC2;
  height:600px;
  margin: 16px;
  padding:16px;
  line-height:25px;
}
footer{
  display:flex;
  flex-direction: row;
  height:260px;
  justify-content: space-evenly;
  background: #3C2A1E;
}
li{
  list-style:none;
}
ul{
  list-style: none;
  background: #FFFFFF;
}
.opnunartimi{
  color:#FEFEFE;
}
.hafdu{
  color:#FEFEFE;
}
.annad{
  color:#FEFEFE;
}
.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #3C2A1E;
  color: #FEFEFE;
}

.flokkar {
  display: flex;
}
.flokkar li{
  margin: 1ch;
  background: #E1CEC2;
}
.efni{
  background: #E1CEC2;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.img-container {
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card a {
  text-decoration: none;
  color: black;
}
.cardl1{
  display: flex;
  flex-direction: row;
}
.card2{
  display: flex;
  flex-direction: row;
}
.card3{
  display: flex;
  flex-direction: row;
}

