// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg
// $ = merki fyrir breytu

/* Grunn bilið okkar er...*/
$spacing: 1rem;

/* Hámarksbreidd á efni */
$color-gradiant: 
/* Letur stillingar */

/* Grid stillingar */
$columns: ;
$gutter: ;
$offset: ;

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  
  /* Hámarksbreidd á efni */
  
  /* Letur stillingar */
  
  /* Grid stillingar */

}


*{
  margin: 0;
  padding:0;
}
header{
  display: flex;
  margin: 16px;
  padding: 2px;
  flex-direction: row;
  list-style: none;
  object-fit: cover;
  justify-content: space-evenly;
}
